  <!-- Sidenav -->
  <md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="left">
    <div class="sidenav-title md-primary">
      <div class="content">

        <div class="background facebook" style="position: relative;height: 150px; background-image: url(img/fb_test.jpg); background-size:contain; background-repeat: no-repeat; background-position: center center;">
          <div style="z-index: -1;" class="dummy"></div>
        </div>

        <h1 style="height: 50px;" class="background contrast no-margin no-padding">Naza Rodriguez</h1>
      </div>
    </div>
    <md-content>
      <md-list>
        <md-list-item>
          <md-button ng-click="toggleSidenav()" style="width: 100%;" class="unraised">
            <i class="flaticon-fix flaticon-bookmark"></i>
            DESTACADO
          </md-button>
        </md-list-item>
        <md-list-item>
          <md-button ng-click="go('/main/promos');toggleSidenav()" style="width: 100%;" class="unraised">
            <i class="flaticon-fix flaticon-tag"></i>
            PROMOCIONES
          </md-button>
        </md-list-item>
        <md-list-item>
          <md-button ng-click="go('/main/news');toggleSidenav()" style="width: 100%;" class="unraised">
            <i class="flaticon-fix flaticon-book"></i>
            LO NUEVO!
          </md-button>
        </md-list-item>
        <md-list-item>
          <md-button ng-click="go('/main/games');toggleSidenav()" style="width: 100%;" class="unraised">
            <i class="flaticon-fix flaticon-smartphone"></i>
            DIVERSIÓN
          </md-button>
        </md-list-item>
        <md-list-item>
          <md-button ng-click="go('/main/shops');toggleSidenav()" style="width: 100%;" class="unraised">
            <i class="flaticon-fix flaticon-pin"></i>
            LOCALES
          </md-button>
        </md-list-item>
        <md-list-item>
          <md-button ng-click="browser('e-shop');toggleSidenav()" style="width: 100%;" class="unraised">
            <i class="flaticon-fix flaticon-shopping-cart"></i>
            E-SHOP
          </md-button>
        </md-list-item>
        <md-list-item>
          <md-button ng-click="feedback();toggleSidenav()" style="width: 100%;" class="unraised">
            <i class="flaticon-fix flaticon-like"></i>
            AYUDANOS A MEJORAR
          </md-button>
        </md-list-item>
        <md-list-item>
          <md-button ng-click="go('/main/contacto');toggleSidenav()" style="width: 100%;" class="unraised">
            <i class="flaticon-fix flaticon-lightining"></i>
            CONTACTO
          </md-button>
        </md-list-item>
        <md-list-item>
          <md-button ng-click="go('/main/profile');toggleSidenav()" style="width: 100%;" class="unraised">
            <i class="flaticon-fix flaticon-user"></i>
            MI PERFIL
          </md-button>
        </md-list-item>
        <md-list-item>
          <md-button ng-click="go('/main/notifications');toggleSidenav()" style="width: 100%;" class="unraised">
            <i class="flaticon-fix flaticon-flag"></i>
            NOTIFICACIONES
          </md-button>
        </md-list-item>
        <md-list-item>
          <md-button ng-click="browser('www.google.com');toggleSidenav()" style="width: 100%;" class="unraised">
            <i class="flaticon-fix flaticon-message"></i>
            PREGUNTAS FRECUENTES
          </md-button>
        </md-list-item>
        <md-list-item>
          <md-button ng-click="logOut();go('/auth-options');toggleSidenav()" style="width: 100%;" class="unraised">
            <i class="flaticon-fix flaticon-wrong"></i>
            CERRAR SESIÓN
          </md-button>
        </md-list-item>
      </md-list>
    </md-content>
  </md-sidenav>

  <!-- Toolbar -->
  <div class="statusbar"></div>
  <div class="toolbar">
    <md-button ng-hide="currentPath === '/main/home'" ng-click="go('/main/home')" aria-label="toolbar-left" class="left md-fab unraised">
      <i class="flaticon-fix flaticon-arrows"></i>
    </md-button>
    <md-button ng-show="currentPath === '/main/home'" ng-click="toggleSidenav()" aria-label="toolbar-left" class="left md-fab unraised">
      <i class="flaticon-fix flaticon-menu"></i>
    </md-button>

    <md-button ng-click="go('/main/notifications')" aria-label="toolbar-right" class="right md-fab unraised">
      <i class="flaticon-fix flaticon-flag"></i>
    </md-button>
    
    <div ng-class="{'no-opacity': !isShowingLogo}" class="logo"></div>
    <div class="wrapper">
      <div ng-class="{'no-opacity': isShowingLogo}" class="title contrast"><div ng-bind-html="toolbarIcon"></div>{{state}}</div>
    </div>    
  </div>

  <div id="view-content" class="offset view-container animate" ui-view></div>
