<div class="page">
	<div class="content detail background color primary">    
		<div class="flip-container">
            <div class="flipper">
                <div class="front">
                    <div id="swiper-container" class="swiper-container">
                        <div class="swiper-wrapper">
                            <div ng-repeat="image in element.images" class="swiper-slide">
                                <div class="dummy" style="background-image:url({{image.url}})"></div>
                                <div style="background-repeat: no-repeat; background-size: contain; background-position: center center; position: relative; height: 100%;background-image: url({{image.url}});" class="md-card-image" alt="Foto"></div>
                            </div>
                        </div>
                        <div class="swiper-pagination swiper-pagination-white"></div>                     
                        <div class="swiper-button-prev swiper-button-white"></div>
                        <div class="swiper-button-next swiper-button-white"></div>              
                        <div class="swiper-scrollbar"></div>
                    </div>                      
                </div>
            </div>
        </div>

        <div class="info contrast">
            <h1 ng-show="titleFontSize" style="font-size: {{titleFontSize}};" class="big text color secondary">{{element.description_title ? element.description_title : element.title}}</h1>  
            
            <hr ng-if="hasLocation" style="margin: 3em 0px 0px 0px;">

            <md-button ng-if="hasLocation" style="z-index: 450; position: absolute; left: calc(50% - 40px); bottom: -30px;" ng-click="toggleMap()" class="background no-hover-change counter contrast md-fab">
                <i class="medium flaticon-pin"></i>
            </md-button>
        </div>

        <div ng-if="hasLocation" id="map" class="map compressable no-height"></div>

        <p class="contrast">{{element.description_text ? element.description_text : element.description}}</p>
	</div>
</div>
