	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:25
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    
    src: url("./Flaticon.ttf") format("truetype"), url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
  margin-left: 0px;
}

.flaticon-book:before { content: "\f100"; }
.flaticon-bookmark:before { content: "\f101"; }
.flaticon-camera:before { content: "\f102"; }
.flaticon-check:before { content: "\f103"; }
.flaticon-clock:before { content: "\f104"; }
.flaticon-cup:before { content: "\f105"; }
.flaticon-dislike:before { content: "\f106"; }
.flaticon-document:before { content: "\f107"; }
.flaticon-download:before { content: "\f108"; }
.flaticon-drop:before { content: "\f109"; }
.flaticon-eye:before { content: "\f10a"; }
.flaticon-flag:before { content: "\f10b"; }
.flaticon-folder:before { content: "\f10c"; }
.flaticon-garbage:before { content: "\f10d"; }
.flaticon-giftbox:before { content: "\f10e"; }
.flaticon-hammer:before { content: "\f10f"; }
.flaticon-headphones:before { content: "\f110"; }
.flaticon-heart:before { content: "\f111"; }
.flaticon-home:before { content: "\f112"; }
.flaticon-key:before { content: "\f113"; }
.flaticon-lightining:before { content: "\f114"; }
.flaticon-like:before { content: "\f115"; }
.flaticon-lock:before { content: "\f116"; }
.flaticon-mail:before { content: "\f117"; }
.flaticon-menu:before { content: "\f118"; }
.flaticon-message:before { content: "\f119"; }
.flaticon-mic:before { content: "\f11a"; }
.flaticon-minimize:before { content: "\f11b"; }
.flaticon-musical-note:before { content: "\f11c"; }
.flaticon-paper:before { content: "\f11d"; }
.flaticon-pen:before { content: "\f11e"; }
.flaticon-pic:before { content: "\f11f"; }
.flaticon-pin:before { content: "\f120"; }
.flaticon-pin-1:before { content: "\f121"; }
.flaticon-play:before { content: "\f122"; }
.flaticon-reload:before { content: "\f123"; }
.flaticon-reload-1:before { content: "\f124"; }
.flaticon-sand-clock:before { content: "\f125"; }
.flaticon-screwdriver:before { content: "\f126"; }
.flaticon-search:before { content: "\f127"; }
.flaticon-settings:before { content: "\f128"; }
.flaticon-shopping-cart:before { content: "\f129"; }
.flaticon-smartphone:before { content: "\f12a"; }
.flaticon-speaker:before { content: "\f12b"; }
.flaticon-sun:before { content: "\f12c"; }
.flaticon-tag:before { content: "\f12d"; }
.flaticon-umbrella:before { content: "\f12e"; }
.flaticon-user:before { content: "\f12f"; }
.flaticon-wifi:before { content: "\f130"; }
.flaticon-wrong:before { content: "\f131"; }
.flaticon-football:before { content: "\f132"; }
.flaticon-shield:before { content: "\f133"; }
.flaticon-signs:before { content: "\f134"; }
.flaticon-ball-1:before { content: "\f135"; }
.flaticon-player:before { content: "\f136"; }
.flaticon-cup:before { content: "\f137"; }
.flaticon-sport:before { content: "\f138"; }
.flaticon-black:before { content: "\f139"; }
.flaticon-ball:before { content: "\f13a"; }
.flaticon-interface:before { content: "\f13b"; }
.flaticon-arrows:before { content: "\f13c"; }
.flaticon-travel:before { content: "\f13d"; }
.flaticon-logo:before { content: "\f141"; }
.flaticon-arrows-down:before { content: "\f13f"; }
.flaticon-arrows-right:before { content: "\f140"; }
.flaticon-arrows-left:before { content: "\f13e"; }