<div class="page">
	<div class="content">
        <md-card class="notification" ng-repeat="notification in notifications">
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">{{notification.name}}</span>
                </md-card-header-text>
                <md-button class="md-fab unraised unmargined">
                    <i class="medium flaticon-tag"></i>    
                </md-button>
            </md-card-header>
        </md-card>
	</div>
</div>
