<div class="content background themed auth">
	<div class="wrapper">
		<md-button ng-click="facebookLogin()" class="contrast background facebook">Ingresar con Facebook</md-button>
	    <md-button ng-click="go('/login')" class="contrast background email">Ingresar con e-mail</md-button>
	    <md-button ng-click="go('/signup')" class="contrast background signup">Registrarse</md-button>
	    <md-button ng-click="guestLogin()" class="contrast background guest">Ingresar como invitado</md-button>
	</div>
</div>