<div class="content background themed auth">
    <div class="wrapper" style="padding: 20px;" layout="column" ng-cloak>
        <md-content class="background counter contrast round-borders" layout-padding>
            
            <form name="loginForm">
                <md-input-container class="md-primary md-block">
                    <label>E-mail</label>
                    <input required md-no-asterisk name="email" ng-model="email">
                    <div ng-messages="loginForm.email.$error">
                        <div ng-message="required">¡El email es requerido!</div>
                    </div>
                </md-input-container>         
                <md-input-container class="md-primary md-block">
                    <label class="md-accent">Contraseña</label>
                    <input required name="password" ng-model="password">
                    <div ng-messages="loginForm.password.$error">
                        <div ng-message="required">¡La contraseña es requerida!</div>
                    </div>
                </md-input-container>

                <md-button ng-click="go('/auth-options')" class="background contrast">
                	Volver
                </md-button>
                <md-button type="submit" ng-click="login()" class="background contrast">
                	Ingresar
                </md-button>
            </form>
        </md-content>
    </div>
</div>
