<div class="content background themed auth">
    <div class="wrapper" style="padding: 20px; top: 0px;" layout="column" ng-cloak>
        <md-content class="background counter contrast round-borders" layout-padding>       
            <form name="loginForm">
            	<md-input-container class="md-primary md-block">
                    <label>Nombre</label>
                    <input required md-no-asterisk name="name" ng-model="name">
                    <div ng-messages="loginForm.name.$error">
                        <div ng-message="required">¡El nombre es requerido!</div>
                    </div>
                </md-input-container> 
                <md-input-container class="md-primary md-block">
                    <label>Apellido</label>
                    <input required md-no-asterisk name="sirname" ng-model="sirname">
                    <div ng-messages="loginForm.sirname.$error">
                        <div ng-message="required">¡El apellido es requerido!</div>
                    </div>
                </md-input-container> 
                <md-input-container class="md-primary md-block">
                    <label>E-mail</label>
                    <input required md-no-asterisk name="email" ng-model="email">
                    <div ng-messages="loginForm.email.$error">
                        <div ng-message="required">¡El email es requerido!</div>
                    </div>
                </md-input-container>         
                <md-input-container class="md-primary md-block">
                    <label class="md-accent">Contraseña</label>
                    <input required type="password" name="password" ng-model="password">
                    <div ng-messages="loginForm.password.$error">
                        <div ng-message="required">¡La contraseña es requerida!</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-primary md-block">
                    <label class="md-accent">Repetir contraseña</label>
                    <input required type="password" name="password_confirmation" ng-model="password_confirmation">
                    <div ng-messages="loginForm.password_confirmation.$error">
                        <div ng-message="required">Porfavor, reingresa la contraseña.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-primary md-block">
                    <label class="md-primary">DNI</label>
                    <input required name="id" ng-model="id">
                    <div ng-messages="loginForm.id.$error">
                        <div ng-message="required">Porfavor, ingresa el DNI.</div>
                    </div>
                </md-input-container>

                <md-button ng-click="go('/auth-options')" class="background contrast">
                	Volver
                </md-button>
                <md-button type="submit" ng-click="auth.signup()" class="background contrast">
                	Ingresar
                </md-button>
            </form>
        </md-content>
    </div>
</div>
