<div class="page">
	<div class="content">
		<md-card ng-click="detail(element.type, element.id)" ng-repeat="element in CACHE.promos.concat(CACHE.news) | filter: filter">            
            <!-- Slider main container -->
            <div ng-if="element.type != 'video'" id="swiper-container-{{element.id}}" class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div ng-repeat="image in element.images" class="swiper-slide">
                        <div class="dummy" style="background-image:url({{image.url}})"></div>
                        <div style="background-repeat: no-repeat; background-size: contain; background-position: center center; position: relative; height: 100%;background-image: url({{image.url}});" class="md-card-image" alt="Foto"></div>
                    </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination swiper-pagination-white"></div>
                
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev swiper-button-white"></div>
                <div class="swiper-button-next swiper-button-white"></div>
                
                <!-- If we need scrollbar -->
                <div class="swiper-scrollbar"></div>
            </div>

            <div ng-if="element.type == 'video'">
                <iframe src="{{getVideoLink(element.fields.youtubeid)}}" frameBorder="0" style="height: 100%; width: 100%;" ></iframe>
            </div>

            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">{{element.description_title ? element.description_title : element.title}}</span>
                </md-card-header-text>
            </md-card-header>                  
        </md-card>
	</div>
</div>
