<div class="page">
  <div class="content">
    <md-content class="md-no-momentum">
      <div class="background facebook" style="position: relative;height: 150px; background-image: url(img/fb_test.jpg); background-size:contain; background-repeat: no-repeat; background-position: center center;">
        <div style="z-index: -1;" class="dummy"></div>
      </div>
      <md-input-container class="md-icon-float md-block">
          <!-- Use floating label instead of placeholder -->
          <label>Nombre</label>
          <md-icon md-svg-src="../../svg/account_circle.svg" class="name"></md-icon>
          <input ng-model="user.name" type="text">
      </md-input-container>
      <md-input-container class="md-block">
          <!-- Use floating placeholder instead of label -->
          <md-icon md-svg-src="../../svg/mail.svg" class="email"></md-icon>
          <input ng-model="user.email" type="email" placeholder="Email (requerido)" ng-required="true">
      </md-input-container>
      <md-input-container md-no-float class="md-block">
          <md-icon md-svg-src="../../svg/indentity.svg"></md-icon>
          <input ng-model="user.national_identity" type="number" placeholder="DNI">
      </md-input-container>
    </md-content>
  </div>
</div>