<div class="page">
	<div class="content">
		<md-card ng-repeat="element in CACHE.promos | filter: filter">            
            <!-- Slider main container -->
            <div ng-click="detail(element.type, element.index)" id="swiper-container-{{element.index}}" class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div ng-repeat="image in element.images" class="swiper-slide">
                        <div class="dummy" style="background-image:url({{image.location}})"></div>
                        <div style="background-repeat: no-repeat; background-size: contain; background-position: center center; position: relative; height: 100%;background-image: url({{image.location}});" class="md-card-image" alt="Foto"></div>
                    </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination swiper-pagination-white"></div>
                
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev swiper-button-white"></div>
                <div class="swiper-button-next swiper-button-white"></div>
            </div>    
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">{{element.title}}</span>
                    <span class="md-subhead">{{element.location.name}}</span>
                </md-card-header-text>
            </md-card-header>                  
        </md-card>
	</div>
</div>