/* Generic */
  body, html {
  	position: relative;
  	width: 100%;
  	height: 100%;
    box-sizing: content-box;!important;
    -webkit-box-sizing: content-box;!important;
  }

  .statusbar {
    width: 100%;
    height: 20px;
    position: fixed;
    background: white;
    z-index: 9999;
  }

  md-content {
    background: rgba(25,25,25, 0.3);
    position: relative;
  }

  .content {
    position: relative;
    height: 100%;
    overflow-y: scroll;
  }

  .content::-webkit-scrollbar {
    display: none;
  }

  .content.detail {
    background-color: white;
  }

  .content > table.grid {
    height: 100%;
    width: 100%;
  }

  td > .md-button {
    padding: 0px;
    margin: 0px;
  }

  td > .md-button > h2 {
    color: white;
  }

  md-list-item {
    padding: 0px!important;
  }

  md-list-item > button {
    border-radius: 0px!important;
  }
/* Generic */

/* App basic structure */
  .toolbar {
    position: fixed;
    width: 100%;
    background: rgba(20,20,20,0.5);
    z-index: 25;

    transition: box-shadow 0.3s ease-in-out;
  }

  .toolbar.shadowed {
    box-shadow: 0px 10px 100px 20px rgba(213,0,54,1);
  }

  .logo {
    background-image: url(img/logo-grisino.png);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: 30%;

    -webkit-transition: opacity 750ms ease-out;
  }

  .wrapper {
    position: relative;
  }

  .toolbar > button {
    position: relative;
    margin: 0px;
  }

  .toolbar > .text {
    font-size: 1em;
  }

  .toolbar > button > i::before {
    color: black;
  }

  .toolbar > button.left {
    float: left;
  }

  .toolbar > button.right {
    float: right;
  }

  .toolbar > .wrapper {
    width: 100%;
    display: table;
    position: absolute;
    top: 0;
  }

  .toolbar > .wrapper > .title {
    text-align: center;
    width: 100%;
    margin: 12px 0px;
    -webkit-transition: opacity 450ms ease-out;
    display: table-cell;
    vertical-align: middle;
  }

  .sidenav-title {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .menu {
    border-bottom: 0.1em solid black;
    padding: 0 0 0.5em;
  }

  .offset.view-container {
      bottom:0; 
      height: 100%;/*height: calc(100% - 50px)!important;  ONLY IF THERE IS A TOOLBAR ABOVE*/
      position:absolute; 
      text-align:center;
      top:0;/*top:50;  ONLY IF THERE IS A TOOLBAR ABOVE*/
      width: 100%; 
      background: rgba(255, 255, 255, 1);
  }

  .page {
  	width: 100%;
  	/*height: calc(100% - 60px);*/
    height: 100%;
    position: relative;
    /*padding-top: 60px;*/
  }

  .info {
    position: relative;
  }
/* App basic structure */

/* Detail */
  .compressable {
    -webkit-transition: all 500ms ease-out;
    position: relative; 
  }

  .detail > p {
    padding: 20px;
  }
/* Detail */

/* Auth */
  .auth > .wrapper {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
  }

  .auth > .wrapper > button {
    width: calc(100% - 25px);
    margin: 5px auto;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: none;
  }

  .auth > .wrapper > button:last-child {
    margin-bottom: 10px
  }

  .auth > .wrapper > button.facebook {
    background-color: #3b579d!important;
  }
  .auth > .wrapper > button.signup {
    background-color: #8cb036!important;
  }
  .auth > .wrapper > button.email {
    background-color: #8cb036!important;
  }
  .auth > .wrapper > button.guest {
    background-color: transparent !important;
    border: 1px solid white;
  }
/* Auth */

/* Animations */
  @keyframes rotateFall {
      0%      { transform: rotateZ(0deg); }
      20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
      40%     { transform: rotateZ(17deg); }
      60%     { transform: rotateZ(16deg); }
      100%    { transform: translateY(100%) rotateZ(17deg); }
  }

  /* slide in from the bottom */
  @keyframes slideOutLeft {
    to { 
      transform: translateX(-100%)  rotateY(90deg);
      /*opacity: 0;*/
    }
  }

  /* rotate out newspaper */
  @keyframes rotateOutNewspaper {
      to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
  }

  /* entering animations --------------------------------------- */
  /* scale up */
  @keyframes scaleUp {
      from    { opacity: 0.3; -webkit-transform: scale(0.8); }
  }

  /* slide in from the right */
  @keyframes slideInRight {
      from    { 
        transform:translateX(100%) scale(0.8);
        opacity: 0;
      }
      to { 
        transform: translateX(0) scale(1);
        opacity: 1;
      }
  }

  /* slide in from the bottom */
  @keyframes slideInUp {
      from    { 
                transform: translateY(100%); 
              }
      to      { 
                transform: translateY(0);
              }
  }

  @keyframes fadeIn {
      from    { opacity: 0; }
      to      { opacity: 1; }
  }

  @keyframes fadeOut {
      from    { 
                opacity: 1;
              }
      to      { 
                opacity: 0;
              }
  }

  .view-container.animate.ng-enter { animation: fadeIn 0.75s both ease-in; }
  .view-container.animate.ng-leave { animation: fadeOut 0.5s both ease-in; }

  .toolbar.ng-enter  { animation: fadeIn 0.5s both ease-in; z-index: 8888; }
  .toolbar.ng-leave  { animation: fadeOut 0.5s both ease-in; z-index: 9999; }

  .state.animate.ng-show-add { animation: slideInRight 1s both ease-in; z-index: 8888; }
  .state.animate.ng-show-remove { animation: slideOutLeft 1s both ease-in; z-index: 8888; }
  .state.animate.ng-hide-add { animation: slideOutLeft 1s both ease-in; z-index: 9999; }
  .state.animate.ng-hide-remove { animation: slideInRight 1s both ease-in; z-index: 9999; }
  
/* Animations */

/* Facebook */
  .facebook.background > .dummy {
    background-image: none;
  }
/* Facebook */

/* Utilities */
  .bordered {}

  .round-borders {
    border-radius: 5px;
  }

  .background.themed {
    background-image: url('img/splash-screen.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .no-opacity {
    opacity: 0;
  }

  .no-height {
    height: 0px!important;
    overflow-y: hidden;
  }

  .no-margin {
    margin: 0px;
  }

  .unraised {
    background-color: transparent!important;
    border: none!important;
    box-shadow: none!important;
  }

  .unmargined {
    margin: 0px;
  }

  .full {
    width: 50%;
    height: 100%;
    float:right;
    border: 0px solid transparent;
  }

  .stretch {
    width: 100%;
    height: 100%;
  }

  .dummy {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(8px);
    overflow: hidden;
  }
/* Utilities */

/* Fixes */
  .content::-webkit-scrollbar {
    display: none;
  }

  :focus {
      outline: -webkit-focus-ring-color auto 0px!important;
  }

  md-list > .md-subheader {
    text-align: center;
  }

  md-list-item > button {
    margin: 0px!important;
    padding: 0px!important;
    text-transform: none!important;
    text-align: left!important;
  }

  md-list-item > button > .md-ripple-container {
    border-radius: 0px!important;
  }

  md-list-item > button > i {
    float: left;
    margin: 0px 15px!important;
  }

  md-input-container {
    text-align: left;
  }

  i.medium::before {
    font-size: 30px;
  }

  i.big::before {
    font-size: 6em;
    color: white;
  }

  i.selected::before {
    color: white;
  }

  md-card-header-text {
    text-align: left!important;
  }

  md-card-header > div {
    float: right;
    margin: 0 15px;
  }

  md-sidenav::-webkit-scrollbar {
    display: none;
  }
/* Fixes */

/* Text */
  @font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  }

  * {
    font-family: Roboto;
  }

  h1.big {
    font-size: 4em;
    margin: 0px;
  }

  p {
    padding-left: 5px;
    padding-right: 5px;
  }

  .textTest {
    position:absolute;
    visibility: hidden;
  }
/* Text */

/* Maps */
  .map {
    height: 400px;
  }
/* Maps */

/* Flip div */
  .flip-container {perspective: 1000px; width: 100%;}
  .front,
  .back {width: 100%;height: 100%;}
  .flipper {height: 300px;transition: 0.6s;transform-style: preserve-3d;position: relative;}
  .front,
  .back {backface-visibility: hidden;position: absolute;top: 0;left: 0;}
  .front {z-index: 2;transform: rotateY(0deg);}
  .back {transform: rotateY(180deg);}
  .flip-container.hover .flipper,
  .flip-container.hover .flipper,
  .flip-container.flip .flipper {transform: rotateY(180deg);}
/* Flip div */

/* Swiper */
  .swiper-container {
      width: 100%;
      height: 300px;
  }    
/* Swiper */

/* Colors */
  .background.color:not(.secondary) {}
  .background.color.secondary {}
  .text.color:not(.secondary) {}
  .text.color.secondary {}
  .secondary {}
  .contrast {}
  .counter.contrast {}
/* Colors */

/* Loader */
  .loader {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    opacity: 0;
    background: rgba(250,250,250,0.7);
    z-index: 100;
  }

  .loader > div > md-progress-circular {
    top: 50%;
    position: relative;
  }
/* Loader */